Task1/Task1UnitTests/obj/
Task1/Task1UnitTests/bin/
Task1/Task1/obj/
Task1/packages/
Task1/.vs/
Task1/Task1/bin/
Task1/Task1UnitTests/StyleCop.Cache
Task2/Task2/obj/
Task2/Task2/bin/
Task2/.vs/
Task2/Task2_UnitTests/obj/
Task2/Task2_UnitTests/bin/
Task2/packages/
